.mgb
	margin-bottom 20px

body
	font-family 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif'
	font-size 14px

thead
	background-color white

th
	border-bottom-width 1px !important

td
	vertical-align middle !important

table.dataTable
	margin-top 0 !important
	margin-bottom 0 !important

.dataTables_wrapper > .row:nth-child(1)
	padding 5px 0 !important

.dataTables_info
	padding 10px !important

.dataTables_filter label
	margin-bottom 0 !important

.tableFloatingHeaderOriginal
	background-color #bce8f1
