template(name='home')

	+filterResult

	+homeActionBar

	.panel.panel-primary

		.panel-heading {{title}}

		+tabular table=tables.cashiers selector=cashiersSelector class='table table-striped table-bordered table-hover table-condensed'

template(name='filterResult')

	.row

		.col-md-3
			.well.text-right
				h3.text-danger ￥{{formatNumber totalAmountIncoming}}
				h5 流入

		.col-md-3
			.well.text-right
				h3.text-info ￥{{formatNumber totalAmountOutcoming}}
				h5 流出

		.col-md-3
			.well.text-right
				h3 ￥{{formatNumber system.statistics.totalAmountIncoming}}
				h5 流入统计

		.col-md-3
			.well.text-right
				h3 ￥{{formatNumber system.statistics.totalAmountOutcoming}}
				h5 流出统计

template(name='homeActionBar')

	.form-inline.mgb

		.form-group.has-feedback

			label.control-label.sr-only

			input.form-control#dateRangePicker(style='font-size: 12px;')

			span.form-control-feedback.glyphicon.glyphicon-calendar

			span.sr-only

		.form-group

			.btn-toolbar

				.btn-group

					button.btn.btn-default.method-prev-year
						i.fa.fa-angle-left

					button.btn.btn-default.method-reset-year {{formatDateFromSession 'selectYear' 'YYYY'}}

					button.btn.btn-default.method-next-year
						i.fa.i.fa.fa-angle-right

				.btn-group

					button.btn.btn-default.method-prev-month
						i.fa.fa-angle-left

					button.btn.btn-default.method-reset-month {{formatDateFromSession 'selectMonth' 'YYYY.MM'}}

					button.btn.btn-default.method-next-month
						i.fa.i.fa.fa-angle-right

				.btn-group

					button.btn.btn-default.method-prev-day
						i.fa.fa-angle-left

					button.btn.btn-default.method-reset-day {{formatDateFromSession 'selectDay' 'YYYY.MM.DD'}}

					button.btn.btn-default.method-next-day
						i.fa.i.fa.fa-angle-right


